<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!-- old connection strings use integrated security; switching out for userid + password
    <add name="MainMenuContainer" connectionString="metadata=res://*/MainMenu.csdl|res://*/MainMenu.ssdl|res://*/MainMenu.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=medcoadev01;initial catalog=COA_Functional;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Model1Container" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=medcoadev01;initial catalog=COA_Functional;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
    <add name="MainMenuContainer" connectionString="metadata=res://*/MainMenu.csdl|res://*/MainMenu.ssdl|res://*/MainMenu.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=medcoadev01.ad.med.miami.edu;initial catalog=COA_Functional;User ID=coa-functional;Password=w2JaNe0lR78Y;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="Model1Container" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=medcoadev01.ad.med.miami.edu;initial catalog=COA_Functional;User ID=coa-functional;Password=w2JaNe0lR78Y;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
